.advantages {
  margin-bottom: 42px;
}

.advantages__slogan {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 38px;
}

.advantages__slogan-wrapper {
   text-align: center;
}

.advantages__main-wrapper {
    background-color: @body-bg-color-extra;
    overflow: hidden;
}

.advantages__list.content-container {
  padding-top: 50px;
      margin-bottom: 27px;
      overflow: hidden;
      position: relative;
}

.advantages__list.content-container::after {
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-size: cover;
    background-image: url(../img/bg-triangle-white.svg);
    background-repeat: no-repeat;
}

.advantages__item {
  margin-top: 31px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}

.advantages__img {
  margin: 0px auto;
}

.advantages__description {
  font-weight: 400;
      margin-top: -6px;
}

.advantages-footer-wrapper {
  display: flex;
  align-content: center;
  overflow: hidden;
  margin-bottom: -42px;
}
