.advantages__slogan {
  font-weight: 300;
  font-size: 24px;
}

.advantages__list {
  list-style: none;
  background-color: @body-bg-color-extra;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}

