.gallery__item {
    background-color: @body-bg-color-extra;
}

.gallery__img {
    .reset-mp();
}

.gallery__item--best-photo {
    position: relative;

    background-color: inherit;
}

.gallery__best-photo {
    position: absolute;
    top: 0;
    right: 19px;

    padding-top: 6px;
    padding-right: 21px;
    padding-bottom: 6px;
    padding-left: 19px;
    margin: 0;

    font-size: 12px;
    font-weight: 700;

    text-transform: uppercase;

    color: #fff;
    background-color: #d22856;
}

.gallery__bloquote {
    padding-top: 15px;
    padding-right: 18px;
    padding-bottom: 14px;
    padding-left: 18px;
    margin: 0;
    margin-top: -7px;
    margin-bottom: 14px;

    background-color: #f2f2f2;
}

.gallery__author-name {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.gallery__author-text {
    padding: 0;
    margin: 0;
    margin-top: -2px;
}

.gallery__author-date {
    margin-left: 6px;

    font-size: 12px;
    font-weight: 300;

    text-transform: uppercase;

    color: #283645;
}

.gallery__likes {
    position: relative;

    padding: 0;
    margin-top: 9px;
    margin-left: 32px;

    font-size: 12px;

    text-transform: uppercase;

    color: #d22856;
}

.gallery__likes:before {
    position: absolute;
    top: 6px;
    left: -32px;

    width: 20px;
    height: 20px;

    content: "";

    background-image: url(../img/icon-heart.svg);
    background-repeat: no-repeat;
}
