.main-form__form-item {
  border: none;
}

.main-form__title {
  text-transform: uppercase;
  color: #d22856;
}

.main-form__form-item--extra {
  padding: 42px 20px;
  padding-bottom: 0px;
  background-color: @body-bg-color-extra;
}

.main-form__textarea {
  .form-group__checkbox-label;
}

.main-form__submit-btn {
  .form-group__checkbox-label;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  background-color: #2aab6d;
  border: none;
  width: 280px;
  padding: 15px 0px;
}

.main-form__footer-text {
  text-transform: uppercase;
}

.main-form__footer-text-decoration {
  color: #d22856;
}
