.page-header {
    color: @header-font-color;
    background-color: @header-bg-color;
}

.page-header--form {
    margin-bottom: 46px;
}

.page-header__title {
    .header-text();
}

.page-header__background {
    text-align: center;

    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position-y: -65px;
    background-size: 100%;
}

.page-header__background--index {
    display: flex;
    height: 397px;

    align-items: flex-end;
}

.page-header__background--photo {
    padding: 14px 20px;
    padding-bottom: 65px;
}

.page-header__background--form {
    padding: 14px 20px;
    padding-bottom: 34px;
}
