.page-header {
  background-color: @header-bg-color;
  color: @header-font-color;
}

.page-header__title {
  .header-text();
}

.page-header__logo-img {
  padding-top: 22px;
  padding-left: 20px;
}

.page-header__background {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
