.site-list {

}

.site-list__item {
  text-align: center;
  padding: 17px 0;
}

.site-list__link {
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  border: none;
  color: @header-font-color;
}
