/*@media (min-width: 320px)
@media (min-width: 660px)
@media (min-width: 960px)*/

@font-face {
    font-family: "Open Sans";
    font-weight: 300;

    src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
    src: local("opensanslight"), local("opensans-light");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 400;

    src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
    src: local("opensans"), local("opensans-regular");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 700;

    src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
    src: local("opensansbold"), local("opensans-bold");
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    min-height: 320px;
    padding: 0;
    margin: 0;

    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    color: #283645;
    background-color: @body-bg-color;
}

img {
    height: auto;
    max-width: 100%;
}
